.ant-layout-header {
  .nav-user {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .leftBox {
      display: flex;
      align-items: center;
      .trigger {
        margin-right: 10px;
      }
    }
    .rightBox {
      height: 40px;
      margin-right: 10px;
      .ant-space {
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        .user-name {
          margin-left: 5px;
        }
        .ant-space-item {
          line-height: 0;
          &:hover {
            color: rgba(0, 0, 0, 0.7);
          }
        }
      }
    }
  }
}
